
label{
  font-weight: 400;
  display: inline-block;
  margin-right: 20px;
}

.Dropdown-root{
  text-transform: capitalize;
  padding-left: 10px;
  display: inline-block;
}

.Dropdown-control{
  background-color: white;
  height: 1.5em;
  width: 7em;
  padding-top: 5px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  color:black;
  font-weight: 500;
  box-shadow: 0.2rem 0.2rem 0.2rem #b13564;
}

.Dropdown-option{
  padding: 0.5em 0;
  background-color: #eee;
  width: 7em;
}

.Dropdown-option:hover{
  font-weight: bold;
  background-color: lightpink;
}

.Dropdown-menu{
  text-align: center;
  font-weight: 400;
  box-shadow: 0.2rem 0.2rem 0.2rem #b13564;
  position: absolute;
  width: 6em;
  background-color: white;
}

.icon>svg{
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  top:15px;
}


.menu{
  transition: .5s;
  position: absolute;
  top: 3em;
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: inherit;
}

.hideMenu{
  height: 0px;
}

.hideMenu>label{
  height: 0px;
  opacity: 0;
  transition: 0.5;
}

.navbar{
  width: 100%;
  height: 3em;
  margin: 0;
  background-color: rgba(255, 0, 0, 0.9);
  position: fixed;
  z-index: 10;
}

.searchContainer{
  position: absolute;
  left: 35%;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

.searchContent{
  background-color: white;
  height: 1.5em;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  font-size: 1.2em;
  color:black;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 0.2rem #b13564;
}

.searchContent::placeholder{
  color: darkgrey;
  font-weight: lighter;
}

.searchContent:focus{
  box-shadow: 0.4rem 0.4rem 0.4rem #aa172b;
}

.showMoreIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  opacity: 1;
  font-size: 1.3em;
  color: white;
  position: absolute;
  left: 62%;
  height: 100%;
}

.showMoreIcon > svg{
  font-size: 1.5em;
  opacity: 0.4;
}




.showMoreIcon>svg:hover{
  opacity: 1;
}