
label{
  font-weight: bold;
}

.dropdown{
  text-transform: capitalize;
  padding-left: 10px;
  float: right;
}

.dropdownControl{
  background-color: white;
  height: 1.5em;
  width: 6em;
  text-align: center;
  border-radius: 15px 15px 0 0;
  color:black;
  font-weight: 500;
  box-shadow: 0.2rem 0.2rem 0.2rem #b13564;
}

.Dropdown-option{
  padding-top: 0.5em;
  background-color: #eee;
  width: 6em;
}

.Dropdown-option:hover{
  font-weight: bold;
  background-color: lightpink;
}

.dropdownMenu{
  text-align: center;
  font-weight: 400;
  box-shadow: 0.2rem 0.2rem 0.2rem #b13564;
  position: absolute;
  width: 6em;
  background-color: white;
}

.navbar{
  width: 100%;
  height: 3em;
  margin: 0;
  background-color: rgba(255, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
}

.searchContent{
  background-color: white;
  height: 1.5em;
  width: 20%;
  text-align: center;
  border-radius: 15px;
  font-size: 1.2em;
  color:black;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 0.2rem #b13564;
}

.search-content::placeholder{
  font-weight: bold;
  color: darkgrey;
  font-weight: lighter;
}

.search-content:focus{
  box-shadow: 0.4rem 0.4rem 0.4rem #aa172b;
}