*{
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  resize: none;
  overflow:hidden;
  border-width: 0;
  background-color: transparent;
}
input:focus{
  outline-width: 0;
}
:root{
  --border-size: 3px;
  --main-background-color: rgb(241, 44, 44);
  --light-background-color: lightpink;
  --archive-background-color: green;
  --archive-light-background-color: lightgreen;
}

.button-add{
  font-size: 2.7em;
  transform: rotate(45deg);
}

.button-delete{
  background-color: azure;
  border-left: 3px solid black;
  cursor: pointer;
  display: inline;
  height: 100%;
  width: 30px;
  box-sizing: border-box;
  padding: 7px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.button-delete > svg{
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.button-small {
  position: absolute;
  right: 5px; 
  cursor: pointer;
}

.container {
  column-count: 5;
  /* column-gap: 30px; */
  width: 95%;
  /* margin: 1em; */
  margin: 0 1em;
  padding-top: 3em;
}

.group{
  margin-top: 1em;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}


.group-body{
  /* max-height: 30vh; */
  border: var(--border-size) solid black;
}

.group-header {
  background-color: var(--main-background-color);
  box-sizing: border-box;
  position: relative;
  padding: 10px 10px;
  border-top: var(--border-size) solid black;
  border-left: var(--border-size) solid black;
  border-right: var(--border-size) solid black;
  border-radius: 10px 10px 0px 0px;
}

.status-0 > .group-header{
  background-color: var(--archive-background-color);
}

.status-0 .todo-item{
  background-color: var(--archive-light-background-color);
}

.status-0 .todo-item:hover{
  background-color: var(--archive-background-color);
}


.group-header > input{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  text-transform: uppercase;
  font-size: 1em;
  width: 80%;
}

/* .group-new{
  border-radius: 10px;
  max-height: 6em;
  max-width: 6em;
  margin-top: 2.5vh;
  margin-left: 2.5vh;
  background-color: var(--main-background-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
} */

.group:last-child >.group-body{
  background-color: #ccc;
  border-style: dashed;
}

.group:last-child >.group-body>.todo-item{
  background-color: #eee;
}

.group:last-child >.group-body>.todo-item:last-child{
  background-color: #ccc;
}

.group:last-child >.group-header>.button-delete{
  visibility: hidden;
}

.group:last-child >.group-header{
  background-color: #ccc;
  border-bottom: 0px;
  border-style: dashed;
}

.hide{
  visibility: hidden;
}

.todo-item{
  padding: 7px 0px 7px 3px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--light-background-color);
}

.todo-item:hover{
  background-color: var(--main-background-color);
  filter: blur(0px);
  transition: 0.3s;
}

.todo-item > .todo-content{
  width: 80%;
  background-color: transparent;
  border-width: 0;
  text-transform: capitalize;
  white-space: wrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin-left: 15px;
  font-size: 1em;
}

.todo-item>label> input {
  visibility: hidden;
}

.todo-item> input:focus {
  outline-width: 0;
}

.todo-item>label> span {
  cursor: pointer;
}

.todo-item input:checked ~ .check:after {
  display: block;
}

.todo-item .check:after {
  background-color: #2196F3;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
}

.check {
  position: absolute;
  top: 8px;
  left: 7px;
  height: 15px;
  width: 15px;
  border-radius: 20px;
  border: 3px solid #eee;
  background-color: #eee;
}

.todo-item.disabled{
  background-color: rgba(100, 100, 100, 0.4);
  filter: blur(1px);
  transition: 0.3s;
  border:0 solid white;
}


.todo-item:last-child{
  background-color: rgba(100, 100, 100, 0.4);
}

.todo-item:last-child > .todo-content{
  text-align: center;
  font-weight: bold;
  margin:auto;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  transition: 0.4s;
}

div[contenteditable="true"]:focus{
  outline-width: 0;
}

.todo-item:last-child> div[contenteditable="true"]:focus{
  font-weight: 100;
  transition: 0.4s;
  box-shadow: 1px 1px gray;
}

@media screen and (max-width: 1400px) {
  .container {
   column-count: 4;
  }
}

@media screen and (max-width: 1100px) {
  .container {
   column-count: 3;
  }
}
@media screen and (max-width: 700px) {
  .container {
    column-count: 1;
  }
}
